{% extends 'base.html.twig' %}

{% block body %}

<div class="card2 text-bg-dark" style="height: 650px; overflow: hidden;">
    <img src="{{ asset('img/bnr3.jpg') }}" class="card2-img" style="object-fit: cover; width: 100%; height: 100%;" alt="...">
    <div class="card2-img-overlay"></div>
</div>

<div class="d-flex justify-content-center mt-5">
    <h3 id="Nouveautés">Nouveautés</h3>
</div>

<!-- PREMIER GROUPE : 4 premières cartes -->
<div class="card-group mt-5">
  <div style="display: grid; grid-template-columns: repeat(2, 1fr); gap: 5rem;">
    {% for produit in produits|slice(0, 4) %}
       <a href="{{ path('app_produit_show_detaille', {'id': produit.id}) }}" class="card-link">
            <div class="card">
                <img src="{{ asset('images/' ~ produit.photo) }}" class="card-img-top" alt="{{ produit.nom }}">
                <div class="card-body">
                    <h5 class="card-title">{{ produit.nom }}</h5>
                    <p class="">{{ produit.description }}</p>
                    <p class="">{{ produit.prix }} €</p>
                </div>
            </div>
        </a>
    {% endfor %}
  </div>
</div>

<!-- BANNIÈRE BLEUE -->
<div class="Meilleuresoffres mt-5">
    <h4>Meilleures offres des soldes</h4>
</div>


<!-- DEUXIÈME GROUPE : Les cartes restantes -->
<div class="card-group mt-5">
  <div style="display: grid; grid-template-columns: repeat(2, 1fr); gap: 5rem;">
     {% for produit in produits|slice(4) %}
      <a href="{{ path('app_produit_show_detaille', {'id': produit.id}) }}" class="card-link">
            <div class="card">
                <img src="{{ asset('images/' ~ produit.photo) }}" class="card-img-top" alt="{{ produit.nom }}">
                <div class="card-body">
                    <h5 class="card-title">{{ produit.nom }}</h5>
                    <p class="">{{ produit.description }}</p>
                    <p class="-text">{{ produit.prix }} €</p>
                </div>
            </div>
     </a>
    {% endfor %}
  </div>
</div>
{% if not app.user %}

<footer style="background-color: #1a365d;" class="text-white text-center text-lg-start">
  <div class="container p-4">
    <section class="esapcesbas">
        <p class="d-flex justify-content-center align-items-center">
          <span class="me-3">Register for free</span>
          <a href="{{ path('login') }}">
            <button type="button" class="btn btn-outline-light btn-rounded">
              Sign up!
            </button>
          </a>
        </p>
    </section>
{% endif %}

<div style="background-color: #1a365d;" class="text-white text-center text-lg-start ">

    <div class="row d-flex justify-content-evenly text-start footer2 p-5">


      <!-- Coordonnées -->
      <div class="col-lg-3 col-md-5 mb-4 mb-md-0  d-flex flex-column  ">
        <h5 class="text-uppercase">Coordonnées</h5>
        <p class="esapcesbas">
          Adresse et contact :<br>
          20 avenue Louis Bordes 93240<br>
          06 20 73 22 64<br>
          seckene_sako@hotmail.com
        </p>
      </div>

      <!-- Navigation -->
      <div class="col-lg-3 col-md-5 mb-4 mb-md-0 d-flex flex-column">
        <h5 class="text-uppercase">Navigation</h5>
        <ul class="list-unstyled mb-0">
          <li><a href="#!" class="text-white">Accueil</a></li>
          <li><a href="#!" class="text-white">Nos Produits</a></li>
          <li><a href="#!" class="text-white">À Propos</a></li>
          <li><a href="#!" class="text-white">Contact</a></li>
        </ul>
      </div>

      <!-- Produits -->
      <div class="col-lg-3 col-md-10 mb-4 mb-md-0 d-flex flex-column">
        <h5 class="text-uppercase">Produits</h5>
        <ul class="list-unstyled">
          <li><a href="#!" class="text-white">Doudoune</a></li>
          <li><a href="#!" class="text-white">Chemise</a></li>
          <li><a href="#!" class="text-white">Jean</a></li>
          <li><a href="#!" class="text-white">Polo-Tshirt</a></li>
          <li><a href="#!" class="text-white">Mocassin</a></li>
          <li><a href="#!" class="text-white">Smoking</a></li>
          <li><a href="#!" class="text-white">Sneakers</a></li>
          <li><a href="#!" class="text-white">Sac de Voyage</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="text-center p-3" style="background-color: #163058;">
    © 2020 Copyright :
    <a class="text-white" href="mailto:seckene_sako@hotmail.com">seckene_sako@hotmail.com</a>
  </div>
</footer>

<style>
a {
    list-style-type: none;
    margin-top: 1rem;
    text-decoration: none;

    
}


</style>

{% endblock %}
