{% extends 'basedeux.html.twig' %}


{% block body %}
<div class="d-flex justify-content-center mb-4">
        <h1>creation d'un produits</h1>
         </div>
  
    <table class="table">
    
        <thead >
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Photo</th>
                <th>PRIX</th>
                 <th>Description</th>
                     <th>actions</th>
            </tr>
        </thead>
        <tbody>
        
    <h2 class="mb-4">creation d'un produits</h2>

    
        {% for produit in produits %}
        
            <tr>
                <td>{{ produit.id }}</td>
                <td>{{ produit.nom }}</td>
                <td>{{ produit.photo }}</td>
                
                <td>{{ produit.PRIX }}</td>
                <td>{{ produit.description }}</td>
                <td>
                    <a href="{{ path('app_produit_show', {'id': produit.id}) }}">show</a>
                    <a href="{{ path('app_produit_edit', {'id': produit.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_produit_new') }}">Create new</a>
{% endblock %}
