{% extends 'basedeux.html.twig' %}


{% block body %}
<div class="d-flex justify-content-center align-items-center mb-4 ">
        <h1>produits</h1>
         </div>
  
    <table class="table">
    
        <thead >
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Photo</th>
                <th>PRIX</th>
                 <th>Description</th>
                   <th>Detailler</th>
                    <th>Couleur</th>
                     <th>actions</th>
            </tr>
        </thead>
        <tbody>
                
<div class="d-flex justify-content-center align-items-center mb-4 mt-5">
    <h1 class="mb-4">Nos Produits</h1>
</div>
    

    
        {% for produit in produits %}
        
            <tr>
                <td>{{ produit.id }}</td>
                <td>{{ produit.nom }}</td>
                <td>{{ produit.photo }}</td>
                
                <td>{{ produit.PRIX }}</td>
                <td>{{ produit.description }}</td>
                <td>{{ produit.descrptionlong }}</td>
                  <td>{{ produit.couleur }}</td>
                <td>
                    <a href="{{ path('app_produit_show', {'id': produit.id}) }}">show</a>
                    <a href="{{ path('app_produit_edit', {'id': produit.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

   
{% endblock %}
