{% extends 'base.html.twig' %}


{% block body %}

<div class="d-flex align-items-start">

<div class="d-flex mt5">
    <div class="col">
        <div class="card" style="width: 45rem; margin-left:1rem; padding:1rem;margin-top:1.5rem">
            <img src="{{ asset('images/' ~ produit.photo) }}" 
                 class="card-img-top" 
                 alt="{{ produit.nom }}">
        </div>
    </div>

    <div class="col mt-4" style="margin-left: 2rem;">
        <h1 class="card-title d-block"> {{ produit.nom }}</h1>
        <p class="card-text d-block mt-2">{{ produit.descrptionlong }}</p>
         <p class="card-text d-block ">Nombre de pièces en stock : {{ produit.stock }} </p>
        <p class="card-text d-block prixx"><strong>{{ produit.prix }} €</strong></p>
         <p class="text">Couleur <strong>{{ produit.couleur }} </strong>
</p>
   <p>Taille: </p>

   <input type="button" value="Veuillez choisir" class="btn1" onclick="toggleTailles()">
<div id="tailles" style="display:none; margin-top:10px;">
  <label><input type="button" value="XS" onclick="choisirTaille('XS')"></label>
  <label><input type="button" value="S" onclick="choisirTaille('S')"></label>
  <label><input type="button" value="M" onclick="choisirTaille('M')"></label>
  <label><input type="button" value="L" onclick="choisirTaille('L')"></label>
  <label><input type="button" value="XL" onclick="choisirTaille('XL')"></label>
</div>

{% if app.user %}
  <form method="post" action="{{ path('ajouter_panier', {id: produit.id}) }}">
      <input type="hidden" name="id" value="{{ produit.id }}">
      <input type="hidden" name="nom" value="{{ produit.nom }}">
      <input type="hidden" name="prix" value="{{ produit.prix }}">
    <input type="hidden" name="taille" id="taille-input">  
    
    <input type="hidden" name="photo" value="{{ produit.photo }}">  
      <button type="submit" name="add_to_cart" class="btn13 mt-3">
          Ajouter au panier
      </button>
  </form>
{% else %}
  <p>Connectez-vous pour ajouter au panier</p>
  <a href="{{ path('login') }}" class="btn btn13 btn-primary mt-1">Se connecter</a>
{% endif %}

    </div>

 
</div>
</div>

<script>
function toggleTailles() {
  const bloc = document.getElementById("tailles");

  if (bloc.style.display === "none") {
  bloc.style.display = "block";  
} else {
  bloc.style.display = "none";  
}
}


function toggleTailles() {
  const bloc = document.getElementById("tailles");
  bloc.style.display = (bloc.style.display === "none") ? "block" : "none";
}

function choisirTaille(valeur) {
  document.getElementById("taille-input").value = valeur;
}

</script>


 <style>

.card-body{
background-color:whitesmoke;
}


.card-text {
font-size:1rem;
width: 90%;
}
.prixx{
    font-size:1.2rem;

}

.btn1{
    width: 60%;
    padding: auto;
    border:0,5px solid greey;
    color:black;
}
.btn13{
    width: 60%;
    padding: 1rem;
    border:none;
    color:white;
    background-color:green;
}
  </style>

{% endblock %}